include LICENSE
include README.rst
include tox.ini

recursive-include test *
recursive-include requirements *

global-exclude __pycache__/*
global-exclude *.pyc

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
